@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap");

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary: hsl(10, 70%, 75%);
    --color-secondary: hsl(14, 60%, 85%);
    --color-accent: hsl(30, 30%, 85%);
    --color-bg: hsl(30, 100%, 98%);
    --color-text: hsl(0, 0%, 20%);
    --font-sans: "Noto Sans JP", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-heading: "Montserrat", sans-serif;
}

@layer base {
    html {
        font-family: var(--font-sans);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-heading);
    }
}

@plugin '@tailwindcss/typography';
